@charset "UTF-8";
div ul li {
  color: red;
  border-color: blue; }
  div ul li:hover {
    background: yellow; }
  div ul li:nth-child(1) {
    background: green; }
  div ul li:nth-last-child(1) {
    background: "background: $val"; }

.T1, .T2 {
  color: black; }

.T2 {
  background: cornflowerblue; }

/*!
  现在我说的都是机密文件里面的内容，大家注意听
*/
